<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.sevenfactory.argon">

    <application>
        <activity
            android:name="de.sevenfactory.argon.ArgonActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault" />
    </application>

</manifest>
