<manifest
    package="de.sevenfactory.argon"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="de.sevenfactory.argon.ArgonActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.DeviceDefault"/>
    </application>

</manifest>
